  <div class="header">
    <ul class="nav-bar">
      <li class="name">Celso Silva</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>


  <div class="main">
    <div class="container">
      <h1>Hello, my name is Celso</h1>
      <p>I'm a Rails Developer</p>
    </div>
</div>
