// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('./image4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  background-color: #00CB77;
  border-width: 4px;
  border-style: solid;
  border-color: #01AD66;
  margin: auto;
  width: 43%;
  padding: 10px 20px;
  margin-top: 30px;
  font-family: 'Source Sans Pro';
}

.main p {
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background-color: red;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #d64322;
  margin: auto;
  width: 25%;
  padding: 10px 20px;
  margin-top: 30px;
}

.container {
  margin: 0 auto;
}

.header {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: auto;
  text-align: center;
}



.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
}

.nav-bar .name {
  display: block;
  margin-right: auto;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav-bar li {
  padding: 5px 10px 10px 10px;
}
.nav-bar a {
  transition: all .5s;
}
.nav-bar a:hover {
  color: white
}


@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}
